@media (min-width: 1024px) and (max-width: 1400px) {
  .journeyBox {
    padding: 50px;
  }
  .journeyBox h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width:1024px) {
    .JourneyLeft{
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    .journeyBox h1 {
      line-height: 3rem;
  } 
}